@use './partials/variables' as *;

@import 'node_modules/bootstrap/scss/bootstrap';

body {
    background-color: lightgray;
}

.debug {
    background-color: rgba(255, 0, 0, 0.5);
    border: 1px solid black;
}
