@use './partials/variables' as *;

@import 'node_modules/bootstrap/scss/bootstrap';

body {
    background-color: black;
    color: white;
    min-height: 100vh;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgba(58, 56, 56, 0.9);
}

.debug {
    background-color: rgba(255, 0, 0, 0.5);
    border: 1px solid black;
}
